#deepseek相关信息导入
DEEPSEEK_KEY = your-deepseek-key-here
DEEPSEEK_BASE_URL = https://api.deepseek.com

#智谱AI相关信息导入
ZHIPUAI_KEY = your-zhipuai-key-here
ZHIPUAI_BASE_URL = https://open.bigmodel.cn/api/paas/v4

#还可以选择其他支持的平台的api
